.subheader {
  margin-bottom: 20px;
}

.name {
  font-size: 0.875rem;
  line-height: 1rem;
  span {
    color: #5095ec;
  }
}
.comment {
  border-left: 2px solid #d3d8de;
}
.author {
  color: #8f8f8f;
}
.footer {
  gap: 32px;
  margin-bottom: 32px;
  .content__icon {
    cursor: pointer;
  }
}
.item {
  height: 1.5rem;
}
